.splide__arrow{
    transition: all 0.25s ease;
    width:2.5rem;
    height:2.5rem;
}

.splide__pagination{
    bottom:0;
    .splide__pagination__page{
        width:12px;
        height: 12px;
        margin:6px;
        &.is-active{
            transform:scale(1);
            opacity: 1;
        }
    }
}