#home{
    background-color: $dark;
    padding:4rem 0;
    color: white;
    @media(min-width:600px){
        padding:6rem 2vw;
    }
    @media(min-width:1024px){
        padding:8rem 2vw;
    }
    @media(min-width:1280px){
        padding:9rem 2rem;
    }
    .tech-icons{
        margin-top:4rem;
        padding-bottom:1rem;
        .splide__slide{
            display:flex;
            justify-content: center;
            align-items: center;
            img{
                margin:1rem;
            }
        }
    }
}

#technologies{
    .units{
        margin:3rem 0;
        .unit{
            margin-bottom:3.5rem;
            img{
                width:500px;
                margin:0.75rem 0;
            }
            @media(min-width:768px){
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                img{
                   
                    margin-right:4rem;
                }
            }
        }
    }
}