  .container-lg{
    max-width:1380px;
  }
  
  .container{
    max-width:1120px;
  }

  .container-md{
    max-width:900px;
  }

  .container-sm{
    max-width:700px;
  }

  .container, .container-md, .container-sm, .container-lg{
    margin-left:auto;
    margin-right:auto;
  }
  
  .container-fluid, .container, .container-md, .container-sm, .container-lg{
    padding-left: $container_padding;
    padding-right:$container_padding;
  }

  .hidden{
    display: none;
  }

  .font-base{
    font-family: $font_main;
  }

  .font-normal{
    font-weight: 400;;
  }

  .py-8{
    padding-top:2rem;
    padding-bottom:2rem;
  }

  .py-16 {
    padding-top:4rem;
    padding-bottom:4rem;
  }

  .py-20 {
    padding-top:5rem;
    padding-bottom:5rem;
  }

  .mb-6{
    margin-bottom:1.5rem;
  }

  .mb-12{
    margin-bottom:3rem;
  }

  .my-8{
    margin-top:2rem;
    margin-bottom:2rem;
  }

  .my-12{
    margin-top:3rem;
    margin-bottom:3rem;
  }

  .my-16{
    margin-top:4rem;
    margin-bottom:4rem;
  }

  .text-center{
    text-align: center;
  }

  .font-light{
    font-weight: 300;
  }
  
  .font-normal{
    font-weight: 400;
  }
  
  .font-bold{
    font-weight: 600;
  }
  
  .leading-tight{
    line-height: 1.25;
  }
  
  .leading-snug{
    line-height: 1.375;
  }
  
  .leading-normal{
    line-height: 1.5;
  }