{% set publish = '20240410' %}
{% set featured = 1 %}
{% set title = 'Optimizing WordPress Performance through Asset Compilation and Enqueueing' %}
{% set image = '/img/blog/wordpress-feature.jpg' %}

<h1>{{title}}</h1>
<img class="featured-image" alt="{{title}}">
